.slider-height .banner-one {
  height: 550px;
}
@media screen and (min-width: 1800px) {
  .slider-height .banner-one {
    height: 700px;
  }
}
@media screen and (max-width: 485px) {
  .content-slider-info .title-silde {
    font-size: 21px;
    line-height: 1.8;
  }
}
