.ad-popup-content .swiper {
  width: 100%;
  height: auto;
}
.ad-popup-content h1 {
  font-size: 16px;
  font-weight: 500;
}
.ad-popup-content p {
  font-size: 14px;
  font-weight: 400;
}
.ad-popup-content .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ad-popup-content .swiper-slide img {
  max-width: 75%;
  border-radius: 8px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .ad-popup-content .swiper-slide img {
    max-width: 90%;
  }
}

.ad-popup-content .swiper-pagination-bullet {
  background-color: #ccc;
}

.ad-popup-content .swiper-pagination-bullet-active {
  background-color: var(--green-01-color); /* Changed color */
}
