.about-us-container {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  color: #333;
}

.about-us-content {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
}

.about-us-content .title {
  font-size: 2rem;
  color: var(--green-01-color);
  margin-bottom: 2rem !important;
  text-align: center;
  position: relative;
  padding-bottom: 10px;
}

.about-us-content .title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
  background-color: var(--green-01-color);
  border-radius: 2px;
}

.about-us-section p {
  font-size: 1.1em;
  line-height: 1.8;
  margin-bottom: 15px;
  text-align: justify;
}

.about-us-section ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.about-us-section ul li {
  background: #eeeeee;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-left: 5px solid var(--green-01-color);
  border-radius: 5px;
  font-size: 1em;
  color: var(--green-01-color);
}

.about-us-section ul li:last-child {
  margin-bottom: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .about-us-container {
    padding: 20px 10px;
  }

  .about-us-content {
    padding: 20px;
  }

  .about-us-content .title {
    font-size: 2em;
  }

  .about-us-section p {
    font-size: 1em;
  }
}
