.current-currency {
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-01-color);
  min-width: 20px;
  text-align: center;
}

.currency-image {
  width: 20px;
  height: 20px;
  object-fit: contain;
  display: inline-block;
}
/* body.dark-theme .currency-dropdown-menu span {
  color: var(--dark-01-color) !important;
} */
body.dark-theme .currency-image,
body.dark-theme .currency-symbol {
  filter: invert(1) brightness(2) !important;
}
.currency-dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
  min-width: 120px !important;
}

.currency-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
}

.currency-symbol {
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
  min-width: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* RTL support */
[dir="rtl"] .currency-symbol {
  margin-right: 0;
  margin-left: 10px;
}
