.card-event-one {
  position: relative;
  border: var(--border-02);
  border-width: 2px;
  padding: 12px;
  border-radius: 12px;
  min-width: 102px;
}

.card-event-one .image-collection img {
  height: 160px !important;
  width: 240.5px !important;
}

.card-event-one .right-card-event {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background-color: var(--white-01-color);
  color: var(--black-01-color);
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
}

[dir="ltr"] .card-event-one .right-card-event {
  right: unset;
  left: 20px;
}

.card-event-one .right-card-event .title-month {
  font-size: 12px;
  display: block;
}
body.dark-theme .card-event-one .right-card-event span {
  color: var(--dark-01-color) !important;
}
.card-event-one .right-card-event .num-month {
  font-size: 16px;
  font-weight: bold;
  display: block;
}

.card-event-one .right-card-event .title-day {
  font-size: 14px;
  display: block;
}

@media screen and (max-width: 1199px) {
  .all-cards-events .card-event-one {
    flex-direction: row;
  }
  .all-cards-events .card-event-one .image-collection img,
  .all-cards-events .card-event-one .image-collection {
    width: 230px !important;
  }
}
@media screen and (max-width: 991px) {
  .all-cards-events .card-event-one {
    flex-direction: column;
  }
  .all-cards-events .card-event-one .image-collection img {
    height: 250px !important;
    width: 100% !important;
  }
  .all-cards-events .card-event-one .image-collection {
    width: 100% !important;
  }

  .card-event-one .content-bottom-event {
    flex-wrap: wrap;
  }

  .card-event-one .content-bottom-event .booking-event-button {
    width: 100%;
  }

  .card-event-one .right-card-event {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 3px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
